table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  height: 100px;
  width: 100px;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}